<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="imdb" type="AllAboutMovie.Catalogs.IMDb.CatalogConfigurationSection, AllAboutMovie.Catalogs.IMDb"/>
  </configSections>
  
  <imdb>
    <urlTemplates 
      searchByTitleAndYear="http://www.imdb.com/search/title?release_date={YEAR},&amp;sort=num_votes,desc&amp;title={TITLE}&amp;title_type=feature,tv_movie,tv_series,documentary,short,video" 
      searchByTitle="http://www.imdb.com/search/title?sort=num_votes,desc&amp;title={TITLE}&amp;title_type=feature,tv_movie,tv_series,documentary,short,video"/>
    <!--<debug searchFile="d:\imdb_search2.htm" detailsFile="d:\imdb_details1.htm" />-->
    <headers>
      <add key="User-Agent" value="Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:56.0) Gecko/20100101 Firefox/56.0"/>
      <add key="Accept" value="text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8" />
      <add key="Referer" value="www.imdb.com"/>
    </headers>
  </imdb>
</configuration>
