<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="xslt" type="AllAboutMovie.Exporters.Xslt.ExporterConfigurationSection, AllAboutMovie.Exporters.Xslt" />
  </configSections>
  <xslt folder=".">
    <stylesheets>
      <add name="Обычный" file="Simple-rus.xslt" outputType="txt" />
      <add name="Simple" file="Simple-eng.xslt" outputType="txt" />
    </stylesheets>
  </xslt>
</configuration>