<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
    <section name="fileNameTemplate" type="AllAboutMovie.FileNameTemplateConfigurationSection, AllAboutMovie" />
    <section name="dump" type="AllAboutMovie.Utils.DumpConfigurationSection, AllAboutMovie.Utils" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" 
               allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/>
  </startup>
  <nlog>
    <targets>
      <target name="default" type="File" deleteOldFileOnStartup="false"
              layout="${longdate} [${processid}:${threadid}] ${level:uppercase=true} ${logger:shortname=true} -&gt; ${message}"
              fileName="${basedir}\AllAboutMovie.log"
              keepFileOpen="false" 
              encoding="windows-1251" />
          <!--fileName="${specialfolder:folder=LocalApplicationData}\AKsoft\AllAboutMovie.log"-->
    </targets>
    <rules>
      <logger name="*" minlevel="Debug" writeTo="default" />
    </rules>
  </nlog>
  
  <appSettings>
    <add key="Portable" value=""/>
    <add key="LoadThumbnails" value="true"/>
  </appSettings>

  <dump enabled="true" path=".\Dump" cleanup="true" />
  
  <fileNameTemplate>
    <![CDATA[
<xsl:choose>
<xsl:when test="TranslatedTitle">
<xsl:value-of select="TranslatedTitle"/> (<xsl:value-of select="OriginalTitle"/>)
</xsl:when>
<xsl:otherwise>
<xsl:value-of select="OriginalTitle"/>
</xsl:otherwise>
</xsl:choose>
    ]]>
  </fileNameTemplate>

  <userSettings>
    <settings>
    </settings>
  </userSettings>
</configuration>
