<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="kinopoisk" type="AllAboutMovie.Catalogs.Kinopoisk.CatalogConfigurationSection, AllAboutMovie.Catalogs.Kinopoisk" />
  </configSections>
  
  <kinopoisk>
    <urlTemplates
      searchByTitleAndYear="http://www.kinopoisk.ru/index.php?level=7&amp;from=forma&amp;result=adv&amp;m_act%5Bfrom%5D=forma&amp;m_act%5Bwhat%5D=content&amp;m_act%5Bfind%5D={TITLE}&amp;m_act%5Byear%5D={YEAR}"
      searchByTitle="http://www.kinopoisk.ru/index.php?level=7&amp;from=forma&amp;result=adv&amp;m_act%5Bfrom%5D=forma&amp;m_act%5Bwhat%5D=content&amp;m_act%5Bfind%5D={TITLE}" />
    <!--
    <urlTemplates 
      searchByTitleAndYear="http://s.kinopoisk.ru/level/7/type/film/find/{TITLE}/m_act[year]/{YEAR}/"
      searchByTitle="http://s.kinopoisk.ru/level/7/type/film/find/{TITLE}/" />
    -->
    <!--<debug searchFile="d:\search.html" detailsFile="d:\details.html" />-->
    <headers>
      <add key="User-Agent" value="Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:56.0) Gecko/20100101 Firefox/56.0"/>
      <add key="Accept" value="text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8" />
      <add key="Referer" value="www.kinopoisk.ru" />
    </headers>
  </kinopoisk>
</configuration>