<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="settings" type="RegisterShellActions.RootConfigurationSection, RegisterShellActions" />
  </configSections>
  
  <settings>
    <actions>
      <add name="about" text="All about movie..." command="AllAboutMovie.exe" params="'%1'" />
    </actions>
    <extensions>
      <add name="avi" actions="about" />
      <add name="mkv" actions="about" />
    </extensions>
  </settings>
</configuration>